body,
html {
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    background-color: #3D1473;
}

/* style a link as a button */
a.button {
    display: block;

    /* Dealing with Button Shape */
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 50px;
    top: 0;
    right: 0;
    background: #291B54;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    /* Text */
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 2rem;
    line-height: 0.5;
    font-family: inherit;
    font-weight: 400 !important;

    /* pad the text down a bit */
    padding-top: 1rem;
}

a.button:hover {
    background: #FFFFFF;
    color: #000000;
}

a.bottom_button {
    display: block;

    /* Dealing with Button Shape */
    box-sizing: border-box;
    position: absolute;
    width: 50%;
    height: 50px;
    bottom: 0;
    left: 0;
    background: #291B54;

    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    /* give the top corner a radius */
    border-top-right-radius: 20px;

    /* Text */
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 2rem;
    line-height: 0.5;
    font-family: inherit;
    font-weight: 400 !important;

    /* pad the text down a bit */
    padding-top: 1rem;
}

a.bottom_button:hover {
    background: #FFFFFF;
    color: black;
}

a.next_button {
    box-sizing: border-box;
    position: absolute;
    width: 250px;
    height: 250px;

    /* move to the bottom right corner */
    bottom: 0;
    right: 0;
    transform: translate(-25%, -25%);

    background: url(next.png)no-repeat center center;
    background-size: cover;
    border: 1px solid #000000;
    box-shadow: inset 0px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

a.next_button:hover {
    /* highlight the "next button" when the mouse hovers over it */
    border-color: #ff1e00;
    /* make the border thicker */
    border-width: 5px;
}

#navbar {
    overflow: hidden;
}

/* make Contents a div */
#Contents {
    /* make the div a block */
    display: block;

    /* make the div a block */
    position: absolute;

    /* move the div to the top left corner */
    top: 50px;
    left: 0;

    /* make the div the same size as the screen */
    width: 100%;
    height: 70px;

    /* make the div transparent */
    background-color: rgba(0, 0, 0, 0.5);
}

/* make h1 text for Contents a div */
#Contents h1 {
    /* place in middle left of div */
    position: absolute;
    height: 10%;

    margin: 0 auto;

    /* set the color to white */
    color: white;

    white-space: nowrap;

    /* Text */
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    font-family: inherit;
    font-weight: 400 !important;

}

/* draw a line under Early_Life, name it line-1, and it is a div class */
.line-1 {
    /* make the div a block */
    display: block;

    /* make the div a block */
    position: absolute;

    /* move the div to the top left corner */
    bottom: 0;
    left: 0;

    /* make the div the same size as the screen */
    width: 100%;
    height: 5%;

    /* make the div transparent */
    background-color: rgba(255, 255, 255, 0.5);
}

#text_container {
    display: block;
    position: absolute;
    width: 75%;
    height: 250px;
    top: 250px;

    background: #C5C6EA;

    /* put a shadow around the text container */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    border-radius: 20px;
}

/* media control, at a height of 555px, the text container will go away */
@media screen and (max-height: 555px) {
    #text_container {
        display: none;
    }
}

/* media control, at a height of 170px, the bottom button will go away */
@media screen and (max-height: 170px) {
    a.bottom_button {
        display: none;
    }
}

/* media control, at a width of 1285px or height of 815px, the next button will go away */
@media (max-width:1285px) and (max-height: 815px) {
    a.next_button {
        display: none;
    }
}

/* at a height of 555px, and width of 1285px, the next button will stay  */
@media (max-width:1285px) and (max-height: 555px) {
    a.next_button {
        display: block;
    }
}

/* media control, at a height of 430px, the next button will go away */
@media screen and (max-height: 430px) {
    a.next_button {
        display: none;
    }
}